<button><a href="/">Início</a></button>
<hr>

<h1>O Clima em {{tempo.data.name}} it's {{tempo.data.weather.[0].[description]}}</h1> 
<hr>

<br>

<h3> O que pode ser feito:</h3>
{{#each lista}}
<br>
    <li>{{this.activity_title}}</li>

{{else}}
<h4 class="mt-3">Nenhuma atividade a realizar</h4>
{{/each}}