<section>
    <h2>Seja bem-vindo!</h2>
    <p>A API foi desenvolvida para que você possa consultar o clima das cidades brasileiras.</p>
</section>

<br>
<section class="card">

    <form method="post" action="/" class="card-body">
        <label for="cidade">Cidade:</label>
            <input type="text" name="cidade" class="form-control" required placeholder="Insira o nome da cidade" id="">
            <br>
            <strong><p>*Obs: Só pressionar o botão de ENTER que é executada a consulta*</p></strong>
    </form>
</section>